@use "vars" as *;

.header {
  margin-bottom: 10px;
  &__container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto) 1fr auto;
    justify-items: center;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    grid-column: 2/3;
    margin-left: 15px;
  }
  &__menu {
    grid-column: 1/2;
    position: relative;
    width: 18px;
    height: 16px;
    &::after,
    &::before,
    span {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: $gray-14;
      height: 2px;
      width: 61.111111%;
    }
    &::before {
      top: 0;
      left: 27.777778%;
    }
    & span {
      inset: 0;
      width: 100%;
      margin: auto;
    }
    &::after {
      bottom: 0;
      left: 11.111111%; /* 2/18 */
    }
  }
  &__search {
    grid-column: 4/5;
  }
}
.tabs {
  display: flex;
  &__tab {
    padding: 18px 0px 14px;
    border-bottom: 3px solid transparent;
    flex-basis: 50%;
    text-align: center;
    color: grey;
    transition: all 0.3s;
    &_active {
      color: $gray-14;
      font-weight: 700;
      border-bottom-color: $primary;
    }
  }
}
